
:root {
    --azul: rgb(30, 30, 86);
    --celeste:  rgb(143, 143, 186);
    --blanco: rgb(248, 248, 250);
    --negro:  rgb(10, 10, 10);
    --espacio: 16px    
}
body{
    background-color: var(--azul);
    font-family: 'Roboto Condensed', sans-serif;
}
.contenedor {
    background-color: var(--celeste);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.cabecera {
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
}
.contenido{
    background-color: var(--celeste);
    border-radius: 8px;
    border-left: 3px solid var(--negro);
    border-right: 3px solid var(--negro);
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
/* Navegacion */
.nav{
    margin: 50px auto;
    box-shadow: 10px 10px 20px blanchedalmond;
}
.nav:hover{
    box-shadow: 0px 0px 0px 5px blanchedalmond;
}
.nav-lista{
background-color: rgb(139, 7, 254);
list-style-type: none;
padding-left: 0px;
display: flex;
justify-content: space-evenly;
padding: 10px 16px;
margin: px 0px 0px; 
text-align: center;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}

.nav-lista a{
display: block;
text-decoration: none;
padding: 10px 8px;
border-right: 3px solid var(--negro) ;
font-weight: bold;
color: var(--negro);
}
.nav-lista a:hover{
   color: var(--blanco)
}
/* Slider */

.slider{
    text-align: center;
    margin-bottom: 40px;
}

.main{ 
    background-color: var(--azul);   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 20px;
}

.chef{
    background-color: rgb(232, 232, 238);
}
.escuelas{
    background-color: rgb(232, 232, 238);
    
}
.restaurantes{
    background-color: rgb(232, 232, 238)
    
}
.academia{
    background-color: rgb(232, 232, 238)
}
.academiainfo{
    display: flex;
    gap: 20px;
}
.restaurantesinfo{
    display: flex;
    gap: 20px;
}
.escuelasinfo{
    display: flex;
    gap: 20px;
}
.chefinfo{
    display: flex;
    gap: 20px;
}

.footer{
    background-color: var(--blanco);
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    gap: 200px;
}
.mandatario{
    
    background-color: var(--celeste);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 600px) {
    .footer{
        display: block;
    }
    .nav-lista{
        display: block;
    }
    .cabecera{
        display: block;
    }
    .main{
        display: block;
    } 
    .mandatario{
        display: block;
    }
    .contenido2{
        display: block;
    }
}

.contenido2 {
    background-color: rgb(139, 7, 254);
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}
.mandatario{
    background-color: var(--celeste);
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;   
}
