
:root {
    --azul: rgb(30, 30, 86);
    --celeste:  rgb(109, 109, 236);
    --blanco: rgb(248, 248, 250);
    --negro:  rgb(10, 10, 10);
    --espacio: 16px    
}

body{
    background-color: var(--azul);
}

.contenedor {
    background-color:chartreuse;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.cabecera {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.contenido{
    background-color: brown;
}